$dark-green: #090e0d;

.footer {
    background-color: $dark-green;
    position: relative;
    padding: 1.5rem;
    padding-top: 7rem;
}

.cell {
    opacity: 0.7;
}

.socials {
    padding-left: 1rem;
    padding-right: 1rem;
}

.socials:hover {
    filter: brightness(175%);
}