<div
  class="section"
  style=" padding-top: 8rem"
>
  <h3
    class="flex-left"
    style="margin-bottom: 2rem"
  >
    <span class="letter">👋 </span>
    <span class="letter">A</span>
    <span class="letter">b</span>
    <span class="letter">o</span>
    <span class="letter">u</span>
    <span class="letter" style="margin-right: 0.5rem">t</span>
    <span class="letter">m</span>
    <span class="letter">e</span>
  </h3>
  <p
    class="flex-left"
    style="max-width: 37.5rem; margin-left: auto; margin-right: auto;"
  >
    Hello, I'm Tim, a 24 year old Software Development. I'm currently in my final semester studying cognitve computer science.
    Sometimes I like messing around with different Web Technologies so feel free to check out my projects or reach out to me in the contact form below.
  </p>
</div>
