.letter {
    position: relative !important;
    display: inline-block !important;
  }

.letter:nth-child(even):hover {
    -webkit-animation: wobble 1s;
    animation: wobble 1s;
    color: #a7dad0;
  }
  
.letter:nth-child(odd):hover {
    -webkit-animation: wobble 1s;
    animation: wobble 1s;
    color: #3dc1c6;
  }
  