<div
  class="grid-x section"
  style="margin-top: 100vh; padding-top: 8rem"
>
  <h3
    class="cell"
    data-aos="fade-up"
    data-aos-duration="1000"
    style="margin-bottom: 2rem"
  >
    <span class="letter">👋 </span>
    <span class="letter">A</span>
    <span class="letter">b</span>
    <span class="letter">o</span>
    <span class="letter">u</span>
    <span class="letter" style="margin-right: 0.5rem">t</span>
    <span class="letter">m</span>
    <span class="letter">e</span>
  </h3>
  <p
    class="cell"
    style="max-width: 37.5rem; margin-left: auto; margin-right: auto;"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nostrum
    aspernatur, a alias, nemo aut labore fuga asperiores quae delectus
    reprehenderit molestiae modi voluptatem ratione, aperiam quis ab non.
    Reprehenderit deleniti, numquam laudantium, aut quia rerum reiciendis quis
    magnam, libero nisi maiores quibusdam in sit debitis! Atque, natus tenetur?
    Architecto dicta qui molestiae accusamus debitis quaerat, officiis aut
    temporibus facilis aspernatur suscipit! Eos provident assumenda obcaecati
    officia velit sequi odit! Neque corporis consectetur eos doloremque, est,
    expedita voluptas consequatur vel mollitia molestiae omnis pariatur rerum
    dolorum suscipit dolorem fuga et quam ducimus? Maiores, voluptate?
    Temporibus dolor, maxime ratione recusandae unde vero excepturi ducimus
    aliquid voluptates ipsum eius voluptate repellendus nihil molestias animi
    quo aliquam est harum, quos architecto, exercitationem sint?
  </p>
</div>
