<div class="grid-x section" style="margin-top: 100vh;">
    <h3 class="cell" data-aos="fade-up" data-aos-duration="1000">
        <span class="letter">A</span>
        <span class="letter">b</span>
        <span class="letter">o</span>
        <span class="letter">u</span>
        <span class="letter" style="margin-right: 1rem;">t</span>
        <span class="letter">m</span>
        <span class="letter">e</span>
    </h3>
    <p class="cell" data-aos="fade-up" data-aos-duration="1000">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
        <br> sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
        <br>no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.
    </p>
</div>
