<div class="outer-container" style="margin: 0 !important">
  <div class="background-container">
    <div id="background-scene" #backgroundscene class="background-scene">
      <div class="layer">
        <div id="background-gradient"></div>
      </div>
      <div
        class="layer animate__animated animate__fadeIn"
        style="animation-delay: 1.5s"
        data-depth="-0.1"
        id="stars"
      ></div>
      <div
        class="layer animate__animated animate__fadeIn"
        style="animation-delay: 2s"
        data-depth="0.071"
        id="stars-small"
      ></div>
      <div
        class="layer animate__animated animate__fadeIn"
        style="animation-delay: 2.5s"
        data-depth="-0.05"
        id="stars-very-small"
      ></div>
      <div class="layer" data-depth-x="0.8">
        <div class="animate__animated animate__fadeInUpBig">
          <div id="building-bottom-4"></div>
          <div id="building-4"></div>
        </div>
      </div>
      <div class="layer" data-depth-x="0.6">
        <div
          class="animate__animated animate__fadeInUpBig"
          style="animation-delay: 0.33s"
        >
          <div id="building-bottom-3"></div>
          <div id="building-3"></div>
        </div>
      </div>
      <div class="layer" data-depth-x="0.4">
        <div
          class="animate__animated animate__fadeInUpBig"
          style="animation-delay: 0.66s"
        >
          <div id="building-bottom-2"></div>
          <div id="building-2"></div>
        </div>
      </div>
      <div class="layer" style="z-index: 20" data-depth-x="0.2">
        <div
          class="animate__animated animate__fadeInUpBig"
          style="animation-delay: 1s"
        >
          <div id="building-bottom-1"></div>
          <div id="building-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="grid-x"
  style="
    overflow: hidden;
    z-index: 10;
    text-align: right;
    margin-right: 5rem;
    position: relative;
  "
>
  <div
    class="cell animate__animated animate__fadeInDown"
    style="animation-delay: 2s; margin-top: 5rem; color: #ffffff"
  >
    <h1>
      <b class="letter">T</b>
      <b class="letter">i</b>
      <b class="letter" style="margin-right: 0.5rem">m</b>
      <b class="letter">L</b>
      <b class="letter">a</b>
      <b class="letter">u</b>
      <b class="letter">f</b>
      <b class="letter">f</b>
      <b class="letter">s</b>
    </h1>
  </div>
  <div
    class="cell animate__animated animate__fadeInRight"
    style="animation-delay: 2s; color: #cccccc"
  >
    <h4 class="underline"><i>Front-End Web Developer</i></h4>
  </div>
  <div
    class="cell animate__animated animate__fadeInRight"
    style="animation-delay: 2s; color: #cccccc"
  >
    <p class="underline-3">Try hovering things :)</p>
  </div>
  <div
    class="cell animate__animated animate__fadeInRight"
    style="animation-delay: 2.5s; color: #bfbfbf; margin-top: 3rem"
  >
    <div>
      <button class="button hollow" (click)="scroll('contact')">Contact me!</button>
    </div>
  </div>
</div>
<!-- <div class="foreground-scene" id="foreground-scene"> -->
<!-- <div class="grid-x">
    <div class="cell shrink" style="background-color: red; height:100vh; position: fixed; top:0; left:0"> test</div>
    <div class="cell auto" style="background-color: blue; position: relative;">
    </div>
  </div> -->
<div style="background-color: #1d1d1d; position: relative;">
  <app-about-me id="aboutme"></app-about-me>
  <app-projects  id="projects"></app-projects>
  <app-pens id="pens"></app-pens>
  <app-contact id="contact"></app-contact>
  <app-footer></app-footer>
</div>