* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-text {
  font-size: 72px;
  color: #e6f2ff;
}

.sub-title {
  z-index: 10;
  position: relative !important;
  color: white;
}

.letter {
  position: relative !important;
  display: inline-block !important;
}

.foreground-scene {
  width: 100%;
  position: relative;
  background-color: #181818;
  margin-top: 1200px;
}

.outer-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-container {
  position: fixed;
  width: 120%;
  height: 100vh;
  left: -10%;
}

.background-scene {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.seperator {
  display: block;
  width: 88px;
  height: 4px;
  border-radius: 5px;
  background: #ff4d5a;
}

#building-1 {
  position: absolute;
  width: 100%;
  height: 250px;
  top: calc(100vh - 250px);
  background: url(/assets/building1.svg) center repeat-x;
  background-size: auto 100%;
}

#building-2 {
  position: absolute;
  height: 200px;
  width: 100%;
  top: calc(100vh - 275px);
  background: url(/assets/building2.svg) center repeat-x;
  background-size: auto 100%;
}

#building-3 {
  position: absolute;
  height: 150px;
  width: 100%;
  top: calc(100vh - 315px);
  background: url(/assets/building3.svg) center repeat-x;
  background-size: auto 100%;
}

#building-4 {
  position: absolute;
  height: 125px;
  width: 100%;
  top: calc(100vh - 350px);
  background: url(/assets/building4.svg) center repeat-x;
  background-size: auto 100%;
}

#building-bottom-1 {
  position: absolute;
  height: 500px;
  width: 100%;
  top: calc(100vh - 1px);
  background-color: #181818;
  background-size: auto 100%;
}

#building-bottom-2 {
  position: absolute;
  height: 70px;
  width: 100%;
  top: calc(100vh - 75px);
  background-color: #1c0c40;
  background-size: auto 100%;
}

#building-bottom-3 {
  position: absolute;
  height: 150px;
  width: 100%;
  top: calc(100vh - 165px);
  background-color: #2e146b;
  background-size: auto 100%;
}

#building-bottom-4 {
  position: absolute;
  height: 225px;
  width: 100%;
  top: calc(100vh - 225px);
  background-color: #411d96;
  background-size: auto 100%;
}

#background-gradient {
  position: absolute;
  height: 90vh;
  width: 100%;
  top: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-size: auto 100%;
}

#stars {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: url(/assets/stars_1.png) center repeat-x;
  background-size: auto 100%;
}

#stars-small {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: url(/assets/stars_2.png) center repeat-x;
  background-size: auto 100%;
}

#stars-very-small {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: url(/assets/stars_3.png) center repeat-x;
  background-size: auto 100%;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
