.body-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  margin-left: -9.375rem;
  height: 100vh;
  scrollbar-color: #5d6f6d #BFD5D3;
}

@media only screen and (max-width: 64rem) {
  .body-wrapper {
    margin: 0;
  }
}

.background-wrapper {
  position: relative; 
  height: 100vh; 
  transform-style: preserve-3d;
  pointer-events: none;
}

.star-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-100px) scale(11);
}

.build-4-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-9px) scale(1.9);
}

.build-3-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-6px) scale(1.6);
}

.build-2-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-3px) scale(1.3);
}

.build-1-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.outer-container {
  position: absolute;
  height: 100%;
  width: 100vw;
}

.positon-building {
  top: calc(100vh - 26rem);
}

.stars-fixed {
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
}

.homepage-text {
  position: fixed;
  top: min(5rem, 5vh);
  right: min(5rem, 7vw);
  overflow: hidden; 
  text-align: right;
  pointer-events: none;
}

.homepage-text-style-2 {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left:0;
 transform: translateZ(-150px) scale(16);
}

.section-2 {
  position: relative;
  margin: min(10rem, 8vh) min(7rem, 7vh);
  text-align: center;
}

@media only screen and (max-width: 64rem) {
  .homepage-text-style-2 {
    margin: 0;
    width: 100%;
  }
}


.sub-title {
  z-index: 10;
  position: relative !important;
  color: white;
}

.letter {
  position: relative !important;
  display: inline-block !important;
}

.background-container-2 {
  position: absolute;
  height: 100vh;
  width: 120%;
  left: -10%;
}

.background-container {
  position: absolute;
  height: 100vh;
  width: 120%;
  left: -10%;
}

#building-1 {
  position: absolute;
  width: 100%;
  height: 14rem;
  top: 6rem;
  background: url(/assets/building1.svg) center repeat-x;
  background-size: auto 100%;
}

#building-2 {
  position: absolute;
  width: 100%;
  height: 12rem;
  top: 4rem;
  background: url(/assets/building2.svg) center repeat-x;
  background-size: auto 100%;
}

#building-3 {
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 2rem;
  background: url(/assets/building3.svg) center repeat-x;
  background-size: auto 100%;
}

#building-4 {
  position: absolute;
  width: 100%;
  height: 8rem;
  top: 0rem;
  background: url(/assets/building4.svg) center repeat-x;
  background-size: auto 100%;
}

#building-bottom-1 {
  position: absolute;
  width: 100%;
  height: 15rem;
  top: 20rem;
  background-color: #090e0d;
  background-size: auto 100%;
}

#building-bottom-2 {
  position: absolute;
  width: 100%;
  height: 15rem;
  top: 16rem;
  background-color: #141b1a;
  background-size: auto 100%;
}

#building-bottom-3 {
  position: absolute;
  width: 100%;
  height: 15rem;
  top: 12rem;
  background-color: #202a29;
  background-size: auto 100%;
}

#building-bottom-4 {
  position: absolute;
  width: 100%;
  height: 15rem;
  top: 8rem;
  background-color: #2d3635;
  background-size: auto 100%;
}

#background-gradient {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  // background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  /*
  background: radial-gradient(
    ellipse at bottom,
    rgba(153, 153, 153, 1) 0%,
    rgba(29, 29, 29, 1) 100%
  );
  */
  background: #02080d;
  background-size: auto 100%;
}

#stars {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: url(/assets/stars_1.png) center repeat-x;
  background-size: auto 100%;
}

#stars-small {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: url(/assets/stars_2.png) center repeat-x;
  background-size: auto 100%;
}

#stars-very-small {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: url(/assets/stars_3.png) center repeat-x;
  background-size: auto 100%;
}

.layer {
  width: 100%;
}

.letter:nth-child(even):hover {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
  color: #a7dad0;
}

.letter:nth-child(odd):hover {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
  color: #3dc1c6;
}

.main-wrapper {
  background-color: #090e0d;
  position: absolute;
  width: 100%;
  height: 100%;
}


.modal-outer {
  position: fixed;
  z-index: 1000;
  left:0;
  top:0;
  background-color: rgba($color: black, $alpha: 0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
}
.modal {
  position: relative;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  width: min(64rem, calc(100% - 4rem));
  background-color: #141b1a;
  max-height: calc(100% - 4rem);
  box-shadow: 0 5px 30rem rgba(0,0,0,.2);
  overflow: auto;
}

.modal-close-button{
  position: absolute;
  top:0;
  right:1rem;
  cursor: pointer;
  transition: all 100ms ease;
}

.modal-close-button:hover {
  filter: brightness(150%);
  transform: scale(1.2);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-width{
  max-width: 37.5rem;
}

.modal-technologies-title{
  font-size: 1.5rem;
}

.label {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin: 0.25rem;
  border-radius: 2px;
  color: #E7F1EF;
  background: #02080d;
}

.modal-btn-row {
  margin-top: 1rem;
}

.btn-wrapper{
  width: 100%;
}

.btn-modal{
  width: min(25rem, 100%)
}

.btn-modal-clear {
  padding:0;
}

.preview-img {
  width: 100%;
  margin: 2.5rem 0 1rem 0;
}