<div class="section">
  <h3 class="flex-left" style="margin-bottom: 2.5rem">
    <span class="letter">F</span>
    <span class="letter">e</span>
    <span class="letter">a</span>
    <span class="letter">t</span>
    <span class="letter">u</span>
    <span class="letter">r</span>
    <span class="letter">e</span>
    <span class="letter" style="margin-right: 0.5rem">d</span>
    <span class="letter">P</span>
    <span class="letter">r</span>
    <span class="letter">o</span>
    <span class="letter">j</span>
    <span class="letter">e</span>
    <span class="letter">c</span>
    <span class="letter">t</span>
    <span class="letter">s</span>
  </h3>
  <div class="project-grid-container">
    <div class="projects-grid">
      <div
        *ngFor="let projects of projectList; let index = index"
        class="project-item item-plantes"
        [style.--thumbnail]="projects.imgThumb"
      >
        <div class="project-item-content">
          <div class="project-item-content-title">
            <p class="project-item-content-title-text">{{ projects.title }}</p>
          </div>
          <div class="project-item-content-info">
            <p>
              {{ projects.description }}
            </p>
          </div>
          <div>
            <button
              *ngIf="projects.title !== 'Codepen'"
              class="btn project-item-content-info"
              (click)="openModalClick(index)"
            >
              View Project
            </button>
            <a
              *ngIf="projects.title === 'Codepen'"
              target="_blank"
              href="https://codepen.io/tlauffs"
            >
              <button class="btn project-item-content-info">
                View Codepen
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
