<div class="grid-x section" style="max-width: 100%">
  <h3
    class="cell"
    style="margin-bottom: 3rem"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <span class="letter">F</span>
    <span class="letter">e</span>
    <span class="letter">a</span>
    <span class="letter">t</span>
    <span class="letter">u</span>
    <span class="letter">r</span>
    <span class="letter">e</span>
    <span class="letter" style="margin-right: 0.5rem">d</span>
    <span class="letter">P</span>
    <span class="letter">r</span>
    <span class="letter">o</span>
    <span class="letter">j</span>
    <span class="letter">e</span>
    <span class="letter">c</span>
    <span class="letter">t</span>
    <span class="letter">s</span>
  </h3>
<div class="cell">
  <div
    class="small-card show-for-small-only"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <p class="green">Project #1</p>
    <h4 class="title">Twitch Nano Donation App</h4>
  </div>
  <div class="card-custom card-1" data-aos="fade-up" data-aos-duration="1000">
    <div class="card-content">
      <div class="show-for-medium">
        <p class="green">Project #1</p>
        <h4 class="title">Twitch Nano Donation App</h4>
      </div>
      <p>
        An older App I built that allows twitch streamers to set up crypto
        (nano) donations. Creates a personal donation page, a donation history
        and a OBS overlay.
      </p>
      <p class="green">Technologies Used:</p>
      <span class="label primary">Firebase</span>
      <span class="label primary">Angular</span>
      <span class="label primary">Angular Material</span>
      <span class="label primary">Bootstrap</span>
      <span class="label primary">Nano API</span>
      <span class="label primary">Typescript</span>
      <span class="label primary">Git</span>
      <div class="show-for-medium">
        <div class="flex">
          <a
            href="https://nano-tip.com/"
            target="_blank"
            class="button primary flex-child"
            >View Site</a
          >
          <a
            href="https://github.com/tlauffs/nanotip"
            target="_blank"
            class="button hollow flex-child"
            >View Code</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="small-card show-for-small-only"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="flex">
      <a
        href="https://nano-tip.com/"
        target="_blank"
        class="button primary flex-child"
        >View Site</a
      >
      <a
        href="https://github.com/tlauffs/nanotip"
        target="_blank"
        class="button hollow flex-child"
        >View Code</a
      >
    </div>
  </div>
</div>
<div class="cell" style="margin-top:3rem">
  <div
    class="small-card show-for-small-only"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <p class="green">Project #2</p>
    <h4 class="title">Personal Portfolio</h4>
  </div>
  <div class="card-custom card-2" data-aos="fade-up" data-aos-duration="1000">
    <div class="card-content">
      <div class="show-for-medium">
        <p class="green">Project #2</p>
        <h4 class="title">Personal Portfolio</h4>
      </div>
      <p>
        The Website your on :) I decided to Include this because I learned and improved alot of my skills making this website.
      </p>
      <p class="green">Technologies Used:</p>
      <span class="label primary">Angular</span>
      <span class="label primary">Foundation CSS</span>
      <span class="label primary">Sass</span>
      <span class="label primary">Animations</span>
      <span class="label primary">Git</span>
      <div class="show-for-medium">
        <div class="flex">
          <a
            href="https://github.com/tlauffs/portfolio-tlauffs"
            target="_blank"
            class="button hollow flex-child"
            >View Code</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="small-card show-for-small-only"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="flex">
      <a
        href="https://github.com/tlauffs/portfolio-tlauffs"
        target="_blank"
        class="button hollow flex-child"
        >View Code</a
      >
    </div>
  </div>
</div>
</div>
