.letter {
    position: relative !important;
    display: inline-block !important;
  }

.letter:nth-child(even):hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
    color: #a7dad0;
  }
  
.letter:nth-child(odd):hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
    color: #3dc1c6;
  }
  
input, textarea{
    margin-bottom: 0;
}

.contact-cell {
    margin-top: 1rem;
}

.alert-sent {
  background-color:#72A8D3;
  box-sizing: border-box;
  padding: 0.75em 1em;
  margin-top: 1rem;
}

.alert-not-sent {
  background-color:#d19959;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
}

input, textarea {
  width:100%;
  background-color: #333333;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0.75rem 1rem;
}

textarea {
  resize: vertical;
}