.letter {
    position: relative !important;
    display: inline-block !important;
  }

.letter:nth-child(even):hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
    color: #1BA098;
  }
  
.letter:nth-child(odd):hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
    color: #DEB992;
  }
  
input, textarea{
    margin-bottom: 0;
}

.contact-cell {
    margin-top: 1rem;
}

.alert-sent {
  background-color:#4ea6e4;
  padding: 0.85em 1em;
}

.alert-not-sent {
  background-color:#cc0066;
  padding: 0.85em 1em;
}