<div
  class="grid-x section"
>
  <h3 class="cell" data-aos="fade-up" data-aos-duration="1000">
    <span class="letter">C</span>
    <span class="letter">o</span>
    <span class="letter">n</span>
    <span class="letter">t</span>
    <span class="letter">a</span>
    <span class="letter">c</span>
    <span class="letter" style="margin-right: 0.5rem">t</span>
    <span class="letter">m</span>
    <span class="letter">e</span>
  </h3>
  <div class="cell" style="margin-left: auto; margin-right: auto"  data-aos="fade-up" data-aos-duration="1000">
    <p>
     Whether you have a oppertunity, question or just want to say hi, <br> don't hesitate to use the form or reach out to me on one of my socials!
    </p>
  </div>
  <div class="cell" style="max-width: 700px; margin-left: auto; margin-right: auto" data-aos="fade-up" data-aos-duration="1000">
    <form name="contact" method="POST" data-netlify="true">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-6 cell contact-cell">
            <p class="underline-3" style="width: 100%">
              <label>
                <input type="text" name="name" placeholder="Name" />
              </label>
            </p>
          </div>
          <div class="medium-6 cell contact-cell">
            <p class="underline-3" style="width: 100%">
              <label>
                <input type="text" name="email" placeholder="Email" />
              </label>
            </p>
          </div>
          <div class="cell contact-cell">
            <p class="underline-3" style="width: 100%">
              <label>
                <input type="text" name="subject" placeholder="Subject" />
              </label>
            </p>
          </div>
          <div class="cell contact-cell">
            <p class="underline-3" style="width: 100%">
              <label>
                <textarea
                  style="min-height: 100px"
                  placeholder="Message"
                  name="message"
                ></textarea>
              </label>
            </p>
          </div>
          <p class="cell contact-cell">
            <button class="button" style="width: 100%" type="submit">
              Send Message!
            </button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
