
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 18.75rem;
    max-width: 37.5rem;
    width:100%;
    display: flex;
    /*flex-wrap: wrap;*/
  }

  .outer-container{
    position: relative;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 5rem; 
    text-align: center;
    overflow: hidden;
  }

  .title-cell{
    margin-bottom: 3rem;
  }
  
  .card-custom {
    height: 17.5rem;
    width: 12.5rem;
    background-color: #1d1d1d;
    border-radius: 10px;
    /*box-shadow: -0.5rem 0 1.5rem black;*/
    transition: 0.4s ease-out;
    position: absolute;
    top: 0;
  }

  .card-header {
    color: #cccccc;
    position: absolute;
    text-align: left;
    bottom:3.125rem;
    left:1rem;
  }

  .card-button {
    position: absolute;
    bottom:0px;
    left:1rem;
  }


  .card-1{
    left:0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),url("../../assets/wave-gif.gif");
    background-size: cover;
  }

  .card-1:hover  {
    transform:translate(-0.625rem,-1.25rem);
  }

  .card-1:hover  ~ .card-2 {
    left:11.25rem;
  }

  .card-1:hover  ~ .card-3 {
    left:max(12.5rem,calc( (100% - 10rem) * (2/3) ));
  }

  .card-1:hover  ~ .card-4 {
    left:max(13.75rem,calc(100% - 11.25rem));
  }

  .card-2{
    left:calc( max(10%,(100% - 12.5rem) * (1/3)) );
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),url("../../assets/picturehover.gif");
    background-size: cover;
  }

  .card-2:hover  {
    transform:translate(-0.625rem,-1.25rem);
  }
  
  .card-2:hover  ~ .card-3 {
    left:max(calc((100% - 12.5rem) * (1/3) + 11.25rem),calc( (100% - 10rem) * (2/3) ));
  }

  .card-2:hover  ~ .card-4 {
    left:max(calc((100% - 12.5rem) * (1/3) + 200px), calc(100% - 11.25rem));
  }

  .card-3{
    left:calc( max(20%,(100% - 12.5rem) * (2/3) ));
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),url("../../assets/glass.png");
    background-size: cover;
  }

  .card-3:hover  {
    transform:translate(-0.625rem,-1.25rem);
  }

  .card-3:hover  ~ .card-4 {
    left:max( (100% - 12.5rem) * (2/3) + 11.25rem);
  }

  .card-4{
    left:calc(max(30%,100% - 12.5rem));
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),url("../../assets/nav.gif");
    background-size: cover;
  }

  .card-4:hover  {
    transform:translate(-0.625rem,-1.25rem);
  }
  
  .letter {
    position: relative !important;
    display: inline-block !important;
  }

.letter:nth-child(even):hover {
    -webkit-animation: rubberBand 1s;
    animation: rubberBand 1s;
    color: #1BA098;
  }
  
.letter:nth-child(odd):hover {
    -webkit-animation: rubberBand 1s;
    animation: rubberBand 1s;
    color: #DEB992;
  }
  