<div class="outer-container">
  <div class="grid-x section">
    <h3 class="cell title-cell" data-aos="fade-up" data-aos-duration="1000">
      <span class="letter">M</span>
      <span class="letter">i</span>
      <span class="letter">n</span>
      <span class="letter" style="margin-right: 1rem">i</span>
      <span class="letter">P</span>
      <span class="letter">r</span>
      <span class="letter">o</span>
      <span class="letter">j</span>
      <span class="letter">e</span>
      <span class="letter">c</span>
      <span class="letter">t</span>
      <span class="letter">s</span>
    </h3>
    <div class="cell card-cell" data-aos="fade-up" data-aos-duration="1000">
      <div class="container">
        <div class="card-custom card-1">
          <div class="card-content">
            <div>
              <p class="card-header">Parallex Wave Effect on Mousemove</p>
            </div>
            <div>
              <a
                target="_blank"
                href="https://codepen.io/tlauffs/pen/xxYzbpz"
                class="card-button button"
                >View Codepen</a
              >
            </div>
          </div>
        </div>
        <div class="card-custom card-2">
          <div class="card-content">
            <div>
              <p class="card-header">
                3D Image <br />
                Mousehover Effect
              </p>
            </div>
            <div>
              <a
                target="_blank"
                href="https://codepen.io/tlauffs/pen/ExQRxqX"
                class="card-button button"
                >View Codepen</a
              >
            </div>
          </div>
        </div>
        <div class="card-custom card-3">
          <div class="card-content">
            <div><p class="card-header">CSS Frosted Glass Effect</p></div>
            <div>
              <a
                target="_blank"
                href="https://codepen.io/tlauffs/pen/oNEyLWZ"
                class="card-button button"
                >View Codepen</a
              >
            </div>
          </div>
        </div>
        <div class="card-custom card-4">
          <div class="card-content">
            <div>
              <p class="card-header">
                Expanding Sidenav <br />
                on Hover
              </p>
            </div>
            <div>
              <a
                target="_blank"
                href="https://codepen.io/tlauffs/pen/yLvEjgJ"
                class="card-button button"
                >View Codepen</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cell" data-aos="fade-up" data-aos-duration="1000">
      <p>*mouse cursor was removed for effect previews</p>
      <p>
        Check out more of my Codepens
        <a target="_blank" href="https://codepen.io/tlauffs">here</a>
      </p>
    </div>
  </div>
</div>
