.side-nav {
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    background-color: #181818;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}

.title-bar {
    background-color: rgba($color: #181818, $alpha: 0.3);
    padding: 0.2rem;
    z-index: 100000;
    position: fixed;
    top: 0;
}

.top-bar {
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 1000;
}

.menu {
    justify-content: right;
}

.button{
    color: #e6f2ff;
}

.button:hover {
  color: #1BA098;
  filter: brightness(150%);
}

.nav-ele {
    height: 50px;
    line-height: 50px;
    color: #808080;
    border-bottom: 1px solid  #333333;
   // border-top: 1px solid  #333333;
}

.nav-ele:hover {
    color: #1BA098;
    filter: brightness(140%);
}

.close-button:hover {
    filter: brightness(140%);
}

.socials:hover {
    svg {
        fill: #DEB992;
    }
    filter: brightness(120%);
}

.social-div:hover {
    transform: scale(1.5);
}

.menu-btn {
    font-size:30px;
    cursor:pointer;
    position: fixed; 
    top:2rem; 
    left:2rem; 
    z-index: 999;
}

.menu-btn:hover {
    color:#1BA098;
    transform: scale(1.25);
}