.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: black, $alpha: 0.3);
  backdrop-filter: blur(5px);
  z-index: 1000;
  transition: 0.5s;
  overflow-x: hidden;
}

.inner-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  white-space: nowrap;
}

.logo {
  padding: 1.8rem 1.8rem 0rem 1.8rem;
  min-width: 9.375rem;
}

.menu {
  justify-content: right;
}

.button {
  color: #e6f2ff;
}

.button:hover {
  color: #a7dad0;
  filter: brightness(150%);
}

.nav-ele {
  height: 50px;
  line-height: 50px;
  color: #808080;
  border-bottom: 1px solid #333333;
  cursor: pointer;
}

.nav-ele:hover {
  color: #a7dad0;
  filter: brightness(140%);
}

.close-button {
  display: none;
}

.close-button:hover {
  filter: brightness(140%);
}

.socials:hover {
  svg {
    fill: #a7dad0;
  }
  filter: brightness(120%);
}

.social-div:hover {
  transform: scale(1.5);
}

.social-div {
  transition: all 0.3s;
}

.menu-btn {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 999;
  transition: all 0.3s;
}

.menu-btn:hover {
  color: #a7dad0;
  font-size: 2.5rem;
  top: 1.75rem;
  left: 1.75rem;
}

.container-grid {
  display: grid;
  grid-template-columns: 9.375rem 1fr;
  overflow: hidden;
}

@media only screen and (max-width: 64rem) {
  .container-grid {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }
  .menu-btn {
    display: block;
  }
  .close-button {
    display: block;
  }
}
@media not screen and (max-width: 64rem){
  .side-nav {
    width: 9.375rem !important;
  }
}
