@import "~foundation-sites/scss/foundation";
@import "/src/assets/foundation/settings";
@import "/src/assets/foundation/global";
@include foundation-everything(true);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  font-family: 'Rokkitt', serif !important;
  margin: 0;
}


p {
  font-family: 'IBM Plex Sans Condensed', sans-serif !important;
  color: #BFD5D3;
  font-size: 0.9375rem;
  line-height: 2rem;
  word-spacing: 0.1em;
}

a {
  transition: all 150ms;
  color: #6fc3b2;
  font-family: 'IBM Plex Sans Condensed', sans-serif !important;
  font-size: 0.9375rem;
  line-height: 1rem;
  word-spacing: 0.1em;
}

a:hover, a:focus {
  color: #b7e1d9;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: lighter;
  color: #E7F1EF;
}

.green {
  //a7dad0
  color: #a7dad0;
}

.section {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 18rem;
  margin-left: 9.375rem;
}

@media only screen and (max-width: 64rem) {
  .section {
    margin: 0;
  }
}

.scroll-margin {
  scroll-margin: -12rem;
}

.scroll-margin-small {
  scroll-margin: -2rem;
}

@media only screen and (max-width: 40rem) {
  .section {
    padding-top: 8rem;
  }
  .scroll-margin {
    scroll-margin: -2rem;
  }
}

/*
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #090e0d;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 5px;
  background: #E7F1EF;
}
*/

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3dc1c6;
  transform-origin: top right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: top left;
}

.underline-2 {
  display: inline-block;
  position: relative;
}

.underline-2:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a7dad0;
  transform-origin: -50% left;
  transition: transform 0.25s ease-out;
}

.underline-2:hover:after {
  transform: scaleX(1);
  transform-origin: -50% right;
}

.underline-3 {
  display: inline-block;
  position: relative;
}

.underline-3:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a7dad0;
  transform-origin: top left;
  transition: transform 0.25s ease-out;
}
.underline-3:hover:after {
  transform: scaleX(1);
  transform-origin: top right;
}

/* layout styles */

.flex-left {
  display: flex;
  justify-content: left;
  max-width: 37.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
